<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">

  <h1> RBI Ranking app {{ title }}</h1>
  <div>
    <p>This software is a brand new application that allows you to simply search the name of a running back and obtain a valuable rank based on their performance.
      The program will use a <br>players' statistics from each seasont to give a RBI score. RBI stands for Running Back Index where the higher a players' RBI is the 
      more valuable a player is to have on your team.</p>
  </div>

</div>

<hr>

<div style="text-align: center;">
  <h2>All Conferences:</h2>
</div>
<div style="display: flex;justify-content: space-around; min-width: 300px; flex-wrap: wrap">
  <mat-spinner *ngIf="loading"></mat-spinner>
  <mat-card *ngFor="let conference of data" style="width: 20%; margin: 20px;">
    <mat-card-content>
      <a routerLink="/conference/{{conference.id}}" style="text-decoration: none">
        <h1>{{conference.name}}</h1>
        <p>{{conference.nick_name}}</p>
      </a>
    </mat-card-content>
  </mat-card>
</div>
