h1 {
    background-color: rgb(219, 70, 70);
    font-family: arial;
    box-align: center;
}




ul {
    text-align: justify;
    list-style-position: inside;
    display: inline-block;
    padding:0;
    margin:0;
}
