<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1> Welcome to {{ title }}!</h1>

  <h2> Project Description: </h2>
  
 
    <ul>
      <li>This software is a new self-contained product designed to allow a user to search for a college running back and obtain a rating on the quality of that running back. </li>
      <li>The program will show the user how each running back ranks against other running backs.</li>
    </ul>

  </div>
  <app-top-ten-table></app-top-ten-table>





<router-outlet></router-outlet>
