<!--The content below is only a placeholder and can be replaced.-->
<div style="height: 100vh;">
  <mat-drawer-container style="height: 100%;">
    <mat-drawer [opened]="menuOpen" mode="side" style="height: 100%">
      <div style="height: 100px; display: flex; flex-direction: column; justify-content: center; align-items: center">
        <p>Logo is here</p>
        <mat-icon>home</mat-icon>
      </div>
      <mat-nav-list>
        <a mat-list-item>Search</a>
        <a mat-list-item>Top 10 players</a>
        <a mat-list-item>Manually calculate RBI </a>
      </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
      <div class="nav-bar">
        <button mat-button style="background-color: #fff; margin: 10px; color: #555555;" (click)="toggleMenu()">
          <mat-icon>reorder</mat-icon>
        </button>
        <div style="position: absolute; right: 20px; color: #fff;">
          <p>Put whatever here for main menu</p>
        </div>
      </div>
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</div>

